
{{ block "form-template" . }}
    <form id="form" hx-post="/get-lib/{sesId}" hx-swap="none" hx-ext="session-id-extension">
        <label>
            <input id="lib-name-input" list="libNameList" autocomplete="off" type="text" name="lib-name" placeholder="your npm library"/>
        </label>
        <button id="submit-button" type="submit">resolve</button>
    </form>
{{ end }}